@import 'variables.css';

html {
  background-color: var(--color-bg);
}

h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--color-text);
}

body, p {
  font-family: var(--font-body);
  color: var(--color-text);
}
