@import 'variables.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-bg);
}

h1, h2, h3 {
  font-family: var(--font-brand);
  color: var(--color-text);
}

body, p {
  font-family: var(--font-body);
  color: var(--color-text);
}

a {
    text-decoration: none;
    color: var(--color-text);
  }

.firstchar {
  font-family: var(--font-heading);
  float: left;
  font-size: 5rem;
  line-height: 4rem;
  padding-right: 5px;
  padding-left: 3px;
  padding-top: 1px;
}

.smallcaps {
  font-variant: small-caps;
  font-size: 1.2rem;
}

.grid-container {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: auto repeat(4, 1fr) auto;
    grid-template-rows: auto repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

.grid-row1-col1 {
    grid-column: 1;
    grid-row: 1;
}

.grid-row1-col2 {
    grid-column: 2;
    grid-row: 1;
}

.grid-row1-col3 {
    grid-column: 3;
    grid-row: 1;
}

.grid-row1-col4 {
    grid-column: 4;
    grid-row: 1;
}

.grid-row1-col5 {
    grid-column: 5;
    grid-row: 1;
}

.grid-row1-col6 {
      grid-column: 6;
      grid-row: 1;
}

.grid-row2-col1 {
    grid-column: 1;
    grid-row: 2;
}

.grid-row2-col2 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    align-self: start;
    justify-self: start;
    padding-left: 5rem;
    padding-right: 5rem;
}

.grid-row3-col1 {
    grid-column: 1;
    grid-row: 3;
}

.grid-row4-col1 {
    grid-column: 1;
    grid-row: 4;
}

.grid-row5-col1 {
    grid-column: 1;
    grid-row: 5;
}

pre {
    font-family: monospace;
    font-size: 0.7vw;
    color: var(--color-text);
    font-weight: bold;
}

.homeascii, .blogascii, .projectsascii, .ethosascii, .contactascii {
    transition: color 0.5s;
}


.homeascii.hovered, .blogascii.hovered, .projectsascii.hovered, .ethosascii.hovered, .contactascii.hovered {
    color: var(--color-accent1);
}

.blogascii {
  transform: rotate(-5deg);
}

.projectsascii {
  transform: rotate(1deg);
}

.ethosascii {
  transform: rotate(-2deg);
}

.contactascii {
  transform: rotate(3deg);
}