@import 'global.css';


.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.title-grid-item {
    grid-column: 1;
    grid-row: 1;
}

.menu-grid-item {
    align-self: start;
    text-align: center;
    grid-column: 2;
    grid-row: 2;
    
    display: flex;
    flex-direction: column;
}

.site-title {
  font-family: var(--font-brand);
  font-size: 2rem;
  color: var(--color-bg);
  text-transform: uppercase;
}

.site-title>span {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #eb5c34;
  line-height: 1.5;
}
