@font-face {
  font-family: 'OCR-B';
  src: url('/fonts/OCR-B.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OCR-A';
  src: url('/fonts/OCR-A.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {

  /*Basic Site Colors*/
  --color-bg: #F4EADA;
  --color-text: #3A332F;

  /*Secondary Colors*/
  --color-accent1: #32afff;
  --color-accent2: #E4FD03;
  --color-accent3: #19DE12;
  --color-accent4: #eb5c34;

  /*Fonts*/
  --font-brand: 'OCR-A', monospace;
  --font-heading: 'IBM Plex Sans Variable', sans-serif;
  --font-body: 'IBM Plex Serif', serif;
  --font-code: 'OCR-B', monospace;

}