---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "Ethos";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>ETHOS</h1>

    <p>This is a guide. </p></br>

    <p>A toolkit for wanderers.</p></br>

    <p>A field manual for the inner and outer world.</p></br>

    <p>A collection of things that work and things that last.</p>
    <p>Things that won't sell your data and won't let you down.</p></br>

    <p>The DBMT is a trail.</p>
    <p>Not to the summit,</p>
    <p>but to the realization that you never needed the trail markers.</p></br>

    <p>The algorithm wants you passive,</p>
    <p>wants you to keep scrolling.</p>
    <p>We'd rather you get lost.</p>
</BaseLayout>

<style>

    h1 {
        padding-bottom: 1rem;
    }

</style>