---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "DBMT";

---
<BaseLayout pageTitle={pageTitle}>
  <h1>Dirtbag Multidisciplinary Toolkit</h1>
    <i><p>You will never be complete,</p>
      <p>and the strain and thirst are sweet.</p>
      <p>You have not yet gone too deep.</p>
    </i>
</BaseLayout>

<style>
  h1 {
    padding-bottom: 2rem;
  }
  i {
    text-align: center;
  }
</style>