---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "DBMT"
---
<BaseLayout pageTitle={pageTitle}>

    <h1>Welcome to the Dirtbag Multidisciplinary Toolkit.</h1>

</BaseLayout>