---
import '@fontsource/ibm-plex-serif';
import '@fontsource/rubik-mono-one';
import '@fontsource-variable/ibm-plex-sans';
import '../styles/homepage.css';
const pageTitle = "DBMT";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
    <div class="grid-container">

      <div class="title-grid-item">
        <pre>
__/\\\\\\\\\\\\___________________________________________/\\\_______________________________________________________________________________________________________________________________________________________________________________
__\/\\\////////\\\________________________________________\/\\\______________________________________________________________________________________________________________________________________________________________________________
___\/\\\______\//\\\___/\\\_____________________/\\\_______\/\\\___________________________/\\\\\\\\_________________________________________________________________________________________________________________________________________
____\/\\\_______\/\\\__\///____/\\/\\\\\\\____/\\\\\\\\\\\__\/\\\__________/\\\\\\\\\______/\\\////\\\_______________________________________________________________________________________________________________________________________
_____\/\\\_______\/\\\___/\\\__\/\\\/////\\\__\////\\\////___\/\\\\\\\\\___\////////\\\____\//\\\\\\\\\______________________________________________________________________________________________________________________________________
______\/\\\_______\/\\\__\/\\\__\/\\\___\///______\/\\\_______\/\\\////\\\____/\\\\\\\\\\____\///////\\\_____________________________________________________________________________________________________________________________________
_______\/\\\_______/\\\___\/\\\__\/\\\_____________\/\\\_/\\___\/\\\__\/\\\___/\\\/////\\\____/\\_____\\\____________________________________________________________________________________________________________________________________
________\/\\\\\\\\\\\\/____\/\\\__\/\\\_____________\//\\\\\____\/\\\\\\\\\___\//\\\\\\\\/\\__\//\\\\\\\\____________________________________________________________________________________________________________________________________
_________\////////////______\///___\///_______________\/////_____\/////////_____\////////\//____\////////____________________________________________________________________________________________________________________________________
__/\\\\____________/\\\\__________________/\\\\\\___________________________________/\\\______________________________________________________________/\\\\\\________________________________________________________________________________
__\/\\\\\\________/\\\\\\_________________\////\\\__________________________________\/\\\_____________________________________________________________\////\\\_______________________________________________________________________________
___\/\\\//\\\____/\\\//\\\____________________\/\\\_________/\\\________/\\\_________\/\\\____/\\\________________________________/\\\____/\\\\\\\\\______\/\\\______/\\\___________________________________________________/\\\__/\\\_______
____\/\\\\///\\\/\\\/_\/\\\___/\\\____/\\\_____\/\\\______/\\\\\\\\\\\__\///__________\/\\\___\///____/\\\\\\\\\\______/\\\\\\\\__\///____/\\\/////\\\_____\/\\\_____\///____/\\/\\\\\\_____/\\\\\\\\\______/\\/\\\\\\\_____\//\\\/\\\_______
_____\/\\\__\///\\\/___\/\\\__\/\\\___\/\\\_____\/\\\_____\////\\\////____/\\\____/\\\\\\\\\____/\\\__\/\\\//////_____/\\\//////____/\\\__\/\\\\\\\\\\______\/\\\______/\\\__\/\\\////\\\___\////////\\\____\/\\\/////\\\_____\//\\\\\_______
______\/\\\____\///_____\/\\\__\/\\\___\/\\\_____\/\\\________\/\\\_______\/\\\___/\\\////\\\___\/\\\__\/\\\\\\\\\\___/\\\__________\/\\\__\/\\\//////_______\/\\\_____\/\\\__\/\\\__\//\\\____/\\\\\\\\\\___\/\\\___\///_______\//\\\_______
_______\/\\\_____________\/\\\__\/\\\___\/\\\_____\/\\\________\/\\\_/\\___\/\\\__\/\\\__\/\\\___\/\\\__\////////\\\__\//\\\_________\/\\\__\/\\\_____________\/\\\_____\/\\\__\/\\\___\/\\\___/\\\/////\\\___\/\\\___________/\\_/\\\_______
________\/\\\_____________\/\\\__\//\\\\\\\\\____/\\\\\\\\\_____\//\\\\\____\/\\\__\//\\\\\\\/\\__\/\\\___/\\\\\\\\\\___\///\\\\\\\\__\/\\\__\/\\\___________/\\\\\\\\\__\/\\\__\/\\\___\/\\\__\//\\\\\\\\/\\__\/\\\__________\//\\\\/_______
_________\///______________\///____\/////////____\/////////_______\/////_____\///____\///////\//___\///___\//////////______\////////___\///___\///___________\/////////___\///___\///____\///____\////////\//___\///____________\////________
__/\\\\\\\\\\\\\\\_________________________________/\\\\\\___________________________________________________________________________________________________________________________________________________________________________________
__\///////\\\/////_________________________________\////\\\______/\\\________________________________________________________________________________________________________________________________________________________________________
_________\/\\\_________________________________________\/\\\_____\/\\\___________/\\\______/\\\______________________________________________________________________________________________________________________________________________
__________\/\\\____________/\\\\\_________/\\\\\________\/\\\_____\/\\\\\\\\_____\///____/\\\\\\\\\\\________________________________________________________________________________________________________________________________________
___________\/\\\__________/\\\///\\\_____/\\\///\\\______\/\\\_____\/\\\////\\\____/\\\__\////\\\////________________________________________________________________________________________________________________________________________
____________\/\\\_________/\\\__\//\\\___/\\\__\//\\\_____\/\\\_____\/\\\\\\\\/____\/\\\_____\/\\\___________________________________________________________________________________________________________________________________________
_____________\/\\\________\//\\\__/\\\___\//\\\__/\\\______\/\\\_____\/\\\///\\\____\/\\\_____\/\\\_/\\______________________________________________________________________________________________________________________________________
______________\/\\\_________\///\\\\\/_____\///\\\\\/_____/\\\\\\\\\__\/\\\_\///\\\__\/\\\_____\//\\\\\______________________________________________________________________________________________________________________________________
_______________\///____________\/////_________\/////______\/////////___\///____\///___\///_______\/////______________________________________________________________________________________________________________________________________
._______________________.
|    __    __           |
|   / /_  / /___  ____ _|
|  / __ \/ / __ \/ __ `/|
| / /_/ / / /_/ / /_/ / |
|/_.___/_/\____/\__, /  |
|______________/____/___|
        </pre>
      </div>

      <div class="menu-grid-item">
        <a href="/projects"> Projects</a>
        <a href="/blog">Blog</a>
        <a href="/ethos">Ethos</a>
      </div>

      <div class="test-grid-item">
        <pre>
__/\\\\\\\\\\\\______/\\\\\\\\\\\\\_____/\\\\____________/\\\\___/\\\\\\\\\\\\\\\______________________________________
__\/\\\////////\\\___\/\\\/////////\\\__\/\\\\\\________/\\\\\\__\///////\\\/////______________________________________
___\/\\\______\//\\\__\/\\\_______\/\\\__\/\\\//\\\____/\\\//\\\________\/\\\_________._______________________.________  
____\/\\\_______\/\\\__\/\\\\\\\\\\\\\\___\/\\\\///\\\/\\\/_\/\\\________\/\\\________|    __    __           |________
_____\/\\\_______\/\\\__\/\\\/////////\\\__\/\\\__\///\\\/___\/\\\________\/\\\_______|   / /_  / /___  ____ _|________
______\/\\\_______\/\\\__\/\\\_______\/\\\__\/\\\____\///_____\/\\\________\/\\\______|  / __ \/ / __ \/ __ `/|________
_______\/\\\_______/\\\___\/\\\_______\/\\\__\/\\\_____________\/\\\________\/\\\_____| / /_/ / / /_/ / /_/ / |________
________\/\\\\\\\\\\\\/____\/\\\\\\\\\\\\\/___\/\\\_____________\/\\\________\/\\\____|/_.___/_/\____/\__, /  |________
_________\////////////______\/////////////_____\///______________\///_________\///____|______________/____/___|________
        </pre>
      </div>
      
    </div>
	</body>
</html>

