---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "DBMT";

---
<BaseLayout pageTitle={pageTitle}>
  <h1>Dirtbag Multidisciplinary Toolkit</h1>
  <p><span class="firstchar">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquam efficitur sodales. Donec est dolor, hendrerit sit amet efficitur nec, congue vel turpis. Aliquam erat volutpat. Nullam nec accumsan risus. Suspendisse scelerisque ante lectus, id placerat purus mollis quis. Maecenas fermentum enim nec ipsum ullamcorper, a feugiat sem porttitor. Morbi sit amet tellus eget felis maximus viverra ut id lacus. Integer nisl ex, laoreet non nulla eget, dapibus hendrerit enim.</p>

  <p>Vivamus quis leo id est tristique hendrerit. Sed interdum pretium leo, a semper felis ultrices sit amet. Quisque hendrerit libero tellus. Vestibulum eget diam magna. Donec vitae dolor velit. In ac ipsum et mauris sagittis iaculis ac in mi. Vivamus finibus augue odio, imperdiet finibus velit lacinia non. Pellentesque commodo tincidunt risus quis accumsan. Vivamus ac purus non mi malesuada euismod eget eget leo. Nunc non turpis eros. Cras faucibus dapibus eros, ut egestas urna pulvinar quis. Quisque imperdiet dolor elit, a euismod est finibus non. Etiam in neque id nunc tincidunt vulputate et ac magna. Fusce id porttitor sapien.</p>

  <p>Duis commodo vulputate orci, consequat vehicula orci vehicula sit amet. Vestibulum semper felis nec est tempus, eget tempus enim gravida. Aliquam at nisi sagittis, vulputate massa et, fermentum nibh. Nullam lacinia auctor eleifend. Etiam vitae leo et nisi vestibulum ultrices. In hac habitasse platea dictumst. Mauris non dignissim nulla. Aliquam feugiat justo in massa gravida, vel vehicula tellus malesuada. Nullam maximus, velit quis dictum tincidunt, elit ipsum elementum metus, at efficitur sapien nisl sit amet erat. Aenean diam velit, scelerisque consectetur purus sed, semper blandit risus. Nam tempus viverra nibh, sed condimentum ante tempor vitae. Nunc in interdum elit. Aliquam magna urna, pretium in erat at, convallis feugiat velit. Mauris metus diam, tincidunt ut diam non, rhoncus mattis mi. Etiam id metus id lorem sollicitudin fringilla non non lorem.</p>

  <p>Praesent imperdiet accumsan tempus. Ut ultricies dolor et nisl aliquet dapibus. Aliquam ac ex pretium, elementum arcu sit amet, sagittis diam. Nam ultricies est nec sollicitudin fermentum. Fusce lacinia lorem molestie blandit rhoncus. Aenean ultrices velit nunc, ut commodo tellus facilisis in. Curabitur rhoncus purus quis odio vulputate, vel interdum elit imperdiet. Mauris vitae eleifend est.</p>

  <p>Aliquam auctor turpis a turpis tincidunt, eu ullamcorper sem pellentesque. Phasellus convallis eros turpis, quis efficitur erat elementum at. Donec consequat erat id velit finibus accumsan. In hac habitasse platea dictumst. Sed auctor libero consectetur turpis elementum interdum. Mauris at nibh quis enim iaculis semper. Vivamus volutpat auctor nunc. Curabitur non metus lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt condimentum pretium. Vestibulum non diam lacus. Nulla facilisis ligula dui</p>
</BaseLayout>