---
import '@fontsource/ibm-plex-serif';
import '@fontsource/rubik-mono-one';
import '@fontsource-variable/ibm-plex-sans';
import '../styles/homepage.css';
const pageTitle = "DBMT";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
    <div class="grid-container">

      <div class="title-grid-item">
        <h1 class="site-title">
          <span>Dirtbag</span><br/> 
          <span>Multidisciplinary</span><br/>
          <span>Toolkit</span><br/>
        </h1>
      </div>

      <div class="menu-grid-item">
        <a href="/projects">Projects</a>
        <a href="/blog">Blog</a>
        <a href="/ethos">Ethos</a>
      </div>
    </div>
	</body>
</html>

