---
import Social from './Social.astro';
---
<footer>
  <pre>
    <a href="http://github.com/satoridotexe">
.---------------------------------.
|        _ _   _           _      | 
|   __ _(_) |_| |__  _   _| |__   |
|  / _` | | __| '_ \| | | | '_ \  |
| | (_| | | |_| | | | |_| | |_) | |
|  \__, |_|\__|_| |_|\__,_|_.__/  |
|  |___/                          |
'---------------------------------'
    </a>
  </pre>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>