---
---
<div class="nav-links">
<pre>
<a href="/projects/" class="projectsascii">.____________________________________.</a>_______<!--                                  -->______________________________<!--                                      -->________________________________________
<a href="/projects/" class="projectsascii">|                    _         __    |</a>_______<!--                                  -->______________________________<a href="/contact/" class="contactascii">.________________________________.</a>______
<a href="/projects/" class="projectsascii">|   ___  _______    (_)__ ____/ /____|</a>_______<!--                                  -->______________________________<a href="/contact/" class="contactascii">|                __           __ |</a>______
<a href="/projects/" class="projectsascii">|  / _ \/ __/ _ \  / / -_) __/ __(_--|</a>_______<a href="/ethos/" class="ethosascii">.______________________.</a>______<a href="/contact/" class="contactascii">| _______  ___  / /____ _____/ /_|</a>______
<a href="/projects/" class="projectsascii">| / .__/_/  \___/_/ /\__/\__/\__/___/|</a>_______<a href="/ethos/" class="ethosascii">|      __  __          |</a>______<a href="/contact/" class="contactascii">|/ __/ _ \/ _ \/ __/ _ `/ __/ __/|</a>______
<a href="/projects/" class="projectsascii">|/_/___________|___/_________________|</a>_______<a href="/ethos/" class="ethosascii">| ___ / /_/ /  ___  ___|</a>______<a href="/contact/" class="contactascii">|\__/\___/_//_/\__/\_,_/\__/\__/ |</a>______
<!--                                        -->_____________________________________________<a href="/ethos/" class="ethosascii">|/ -_) __/ _ \/ _ \(_--|</a>______<!--                                      -->________________________________________
<!--                                        -->_____________________________________________<a href="/ethos/" class="ethosascii">|\__/\__/_//_/\___/___/|</a>______<!--                                      -->________________________________________
<!--                                        -->_____________________________________________<!--                                  -->______________________________<!--                                      -->________________________________________
</pre>
</div>

<script>
    const groups = ['homeascii', 'blogascii', 'projectsascii', 'ethosascii', 'contactascii'];

    groups.forEach(group => {
    const elements = document.querySelectorAll(`.${group}`);
    
    elements.forEach(el => {
        el.addEventListener('mouseenter', () => {
        elements.forEach(e => e.classList.add('hovered'));
        });

        el.addEventListener('mouseleave', () => {
        elements.forEach(e => e.classList.remove('hovered'));
        });
    });
});
</script>

<style>

    .homeascii>span {
        transition: color 0.75s;
    }

    .homeascii.hovered>span {
        color: var(--color-accent1);
    }

    .blogascii, .projectsascii, .ethosascii, .contactascii {
        transition: color 0.5s;
    }

    .blogascii.hovered {
        color: var(--color-accent2);
    }

    .projectsascii.hovered {
        color: var(--color-accent4);
    }

    .ethosascii.hovered {
        color: var(--color-accent3);
    }
    
    .contactascii.hovered  {
        color: var(--color-accent1);
    }

</style>