---
---
<div class="nav-links">
<pre>
__<a href="/" class="homeascii"><span>/\\\\\\\\\\\\</span><!--      -->______<span>/\\\\\\\\\\\\\</span><!--      -->_____<span>/\\\\</span>____________<span>/\\\\</span><!--      -->___<span>/\\\\\\\\\\\\\\\</span></a>_______<!--                                -->____________________________<a href="/projects/" class="projectsascii">.____________________________________.</a>_______<!--                                  -->______________________________<!--                                      -->________________________________________
__<a href="/" class="homeascii"><span>\/\\\////////\\\</span><!--      -->___<span>\/\\\/////////\\\</span><!--      -->__<span>\/\\\\\\</span>________<span>/\\\\\\</span><!--      -->__<span>\///////\\\/////</span></a>_______<!--                                -->____________________________<a href="/projects/" class="projectsascii">|                    _         __    |</a>_______<!--                                  -->______________________________<a href="/contact/" class="contactascii">.________________________________.</a>______
___<a href="/" class="homeascii"><span>\/\\\</span>______<span>\//\\\</span>__<span>\/\\\</span>_______<span>\/\\\</span>__<span>\/\\\//\\\</span>____<span>/\\\//\\\</span><!--      -->________<span>\/\\\</span></a>___________<a href="/blog/" class="blogascii">.___________________.</a>_______<a href="/projects/" class="projectsascii">|   ___  _______    (_)__ ____/ /____|</a>_______<!--                                  -->______________________________<a href="/contact/" class="contactascii">|                __           __ |</a>______
____<a href="/" class="homeascii"><span>\/\\\</span>_______<span>\/\\\</span>__<span>\/\\\\\\\\\\\\\\</span><!--      -->___<span>\/\\\\///\\\/\\\/</span>_<span>\/\\\</span><!--      -->________<span>\/\\\</span></a>__________<a href="/blog/" class="blogascii">|   __   __         |</a>_______<a href="/projects/" class="projectsascii">|  / _ \/ __/ _ \  / / -_) __/ __(_--|</a>_______<a href="/ethos/" class="ethosascii">.______________________.</a>______<a href="/contact/" class="contactascii">| _______  ___  / /____ _____/ /_|</a>______
_____<a href="/" class="homeascii"><span>\/\\\</span>_______<span>\/\\\</span>__<span>\/\\\/////////\\\</span><!--      -->__<span>\/\\\</span>__<span>\///\\\/</span>___<span>\/\\\</span>________<span>\/\\\</span></a>_________<a href="/blog/" class="blogascii">|  / /  / /__  ___ _|</a>_______<a href="/projects/" class="projectsascii">| / .__/_/  \___/_/ /\__/\__/\__/___/|</a>_______<a href="/ethos/" class="ethosascii">|      __  __          |</a>______<a href="/contact/" class="contactascii">|/ __/ _ \/ _ \/ __/ _ `/ __/ __/|</a>______
______<a href="/" class="homeascii"><span>\/\\\</span>_______<span>\/\\\</span>__<span>\/\\\</span>_______<span>\/\\\</span>__<span>\/\\\</span>____<span>\///</span>_____<span>\/\\\</span>________<span>\/\\\</span></a>________<a href="/blog/" class="blogascii">| / _ \/ / _ \/ _ `/|</a>_______<a href="/projects/" class="projectsascii">|/_/___________|___/_________________|</a>_______<a href="/ethos/" class="ethosascii">| ___ / /_/ /  ___  ___|</a>______<a href="/contact/" class="contactascii">|\__/\___/_//_/\__/\_,_/\__/\__/ |</a>______
_______<a href="/" class="homeascii"><span>\/\\\</span>_______<span>/\\\</span>___<span>\/\\\</span>_______<span>\/\\\</span>__<span>\/\\\</span>_____________<span>\/\\\</span><!--      -->________<span>\/\\\</span></a>_______<a href="/blog/" class="blogascii">|/_.__/_/\___/\_, / |</a>_______<!--                                        -->_____________________________________________<a href="/ethos/" class="ethosascii">|/ -_) __/ _ \/ _ \(_--|</a>______<!--                                      -->________________________________________
________<a href="/" class="homeascii"><span>\/\\\\\\\\\\\\/</span><!--      -->____<span>\/\\\\\\\\\\\\\/</span><!--      -->___<span>\/\\\</span>_____________<span>\/\\\</span><!--      -->________<span>\/\\\</span></a>______<a href="/blog/" class="blogascii">|____________/___/__|</a>_______<!--                                        -->_____________________________________________<a href="/ethos/" class="ethosascii">|\__/\__/_//_/\___/___/|</a>______<!--                                      -->________________________________________
_________<a href="/" class="homeascii"><span>\////////////</span><!--      -->______<span>\/////////////</span><!--      -->_____<span>\///</span>______________<span>\///</span><!--      -->_________<span>\///</span></a>______<!--                                -->____________________________<!--                                        -->_____________________________________________<!--                                  -->______________________________<!--                                      -->________________________________________
</pre>
</div>

<script>
    const groups = ['homeascii', 'blogascii', 'projectsascii', 'ethosascii', 'contactascii'];

    groups.forEach(group => {
    const elements = document.querySelectorAll(`.${group}`);
    
    elements.forEach(el => {
        el.addEventListener('mouseenter', () => {
        elements.forEach(e => e.classList.add('hovered'));
        });

        el.addEventListener('mouseleave', () => {
        elements.forEach(e => e.classList.remove('hovered'));
        });
    });
});
</script>

<style>

    .homeascii>span {
        transition: color 1s;
    }

    .homeascii.hovered>span {
        color: var(--color-accent);
    }

    .blogascii.hovered, .ethosascii.hovered {
        color: var(--color-accent);
    }

    .projectsascii.hovered, .contactascii.hovered  {
        color: var(--color-teal);
    }

</style>