---
---
<div class="nav-links">
<pre>
__/\\\\\\\\\\\\______/\\\\\\\\\\\\\_____/\\\\____________/\\\\___/\\\\\\\\\\\\\\\_____<!--                                -->__________________________<a href="/projects/" class="projectsascii">.____________________________________.</a>_____<!--                                  -->____________________________<!--                                      -->______________________________________
__\/\\\////////\\\___\/\\\/////////\\\__\/\\\\\\________/\\\\\\__\///////\\\/////_____<!--                                -->__________________________<a href="/projects/" class="projectsascii">|                    _         __    |</a>_____<!--                                  -->____________________________<a href="/contact/" class="contactascii">.________________________________.</a>____
___\/\\\______\//\\\__\/\\\_______\/\\\__\/\\\//\\\____/\\\//\\\________\/\\\_________<a href="/blog/" class="blogascii">.___________________.</a>_____<a href="/projects/" class="projectsascii">|   ___  _______    (_)__ ____/ /____|</a>_____<!--                                  -->____________________________<a href="/contact/" class="contactascii">|                __           __ |</a>____
____\/\\\_______\/\\\__\/\\\\\\\\\\\\\\___\/\\\\///\\\/\\\/_\/\\\________\/\\\________<a href="/blog/" class="blogascii">|   __   __         |</a>_____<a href="/projects/" class="projectsascii">|  / _ \/ __/ _ \  / / -_) __/ __(_--|</a>_____<a href="/ethos/" class="ethosascii">.______________________.</a>____<a href="/contact/" class="contactascii">| _______  ___  / /____ _____/ /_|</a>____
_____\/\\\_______\/\\\__\/\\\/////////\\\__\/\\\__\///\\\/___\/\\\________\/\\\_______<a href="/blog/" class="blogascii">|  / /  / /__  ___ _|</a>_____<a href="/projects/" class="projectsascii">| / .__/_/  \___/_/ /\__/\__/\__/___/|</a>_____<a href="/ethos/" class="ethosascii">|      __  __          |</a>____<a href="/contact/" class="contactascii">|/ __/ _ \/ _ \/ __/ _ `/ __/ __/|</a>____
______\/\\\_______\/\\\__\/\\\_______\/\\\__\/\\\____\///_____\/\\\________\/\\\______<a href="/blog/" class="blogascii">| / _ \/ / _ \/ _ `/|</a>_____<a href="/projects/" class="projectsascii">|/_/___________|___/_________________|</a>_____<a href="/ethos/" class="ethosascii">| ___ / /_/ /  ___  ___|</a>____<a href="/contact/" class="contactascii">|\__/\___/_//_/\__/\_,_/\__/\__/ |</a>____
_______\/\\\_______/\\\___\/\\\_______\/\\\__\/\\\_____________\/\\\________\/\\\_____<a href="/blog/" class="blogascii">|/_.__/_/\___/\_, / |</a>_____<!--                                        -->___________________________________________<a href="/ethos/" class="ethosascii">|/ -_) __/ _ \/ _ \(_--|</a>____<!--                                      -->______________________________________
________\/\\\\\\\\\\\\/____\/\\\\\\\\\\\\\/___\/\\\_____________\/\\\________\/\\\____<a href="/blog/" class="blogascii">|____________/___/__|</a>_____<!--                                        -->___________________________________________<a href="/ethos/" class="ethosascii">|\__/\__/_//_/\___/___/|</a>____<!--                                      -->______________________________________
_________\////////////______\/////////////_____\///______________\///_________\///____<!--                                -->__________________________<!--                                        -->___________________________________________<!--                                  -->____________________________<!--                                      -->______________________________________


</pre>
</div>

<script>
    const groups = ['blogascii', 'projectsascii', 'ethosascii', 'contactascii'];

    groups.forEach(group => {
    const elements = document.querySelectorAll(`.${group}`);
    
    elements.forEach(el => {
        el.addEventListener('mouseenter', () => {
        elements.forEach(e => e.classList.add('hovered'));
        });

        el.addEventListener('mouseleave', () => {
        elements.forEach(e => e.classList.remove('hovered'));
        });
    });
});
</script>

<style>

    .blogascii.hovered {
        color: var(--color-accent);
    }

    .projectsascii.hovered {
        color: var(--color-teal);
    }

    .ethosascii.hovered {
        color: var(--color-accent);
    }

    .contactascii.hovered {
        color: var(--color-teal);
    }
</style>